body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $font-base;
  color: $color-font;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.section-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 21px;
  font-family: $font-title;

  @include screen(md) {
    font-size: 26px;
  }
}

.social {
  $header-social-color: #dab33e;
  &_header {
    display: none;
    margin-left: 15px;
    color: $header-social-color;

    @include screen(xl) {
      display: block;
    }

    .social__item {
      &:hover {
        color: darken($header-social-color, 10%);
      }
    }
  }
}